/* Sans Regular */
@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  src: url('/fonts/IBMPlexSans-Regular.ttf?v=1.0.0') format('truetype');
}

/* Sans Italic */
@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 400;
  font-display: swap;
  font-style: italic;
  src: url('/fonts/IBMPlexSans-Italic.ttf?v=1.0.0') format('truetype');
}

/* Sans Bold */
@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 700;
  font-display: swap;
  font-style: normal;
  src: url('/fonts/IBMPlexSans-Bold.ttf?v=1.0.0') format('truetype');
}

/* Sans Cond Italic */
@font-face {
  font-family: 'IBM Plex Sans Condensed';
  font-weight: 400;
  font-display: swap;
  font-style: italic;
  src: url('/fonts/IBMPlexSansCondensed-Italic.ttf?v=1.0.0') format('truetype');
}

/* Sans Cond Semibold */
@font-face {
  font-family: 'IBM Plex Sans Condensed';
  font-weight: 600;
  font-display: swap;
  font-style: normal;
  src: url('/fonts/IBMPlexSansCondensed-SemiBold.ttf?v=1.0.0')
    format('truetype');
}

/* Sans Cond Bold */
@font-face {
  font-family: 'IBM Plex Sans Condensed';
  font-weight: 700;
  font-display: swap;
  font-style: normal;
  src: url('/fonts/IBMPlexSansCondensed-Bold.ttf?v=1.0.0') format('truetype');
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background: var(--white);
  color: var(--black);
  font-family: var(--font-sans);
  font-size: 16px;
  font-weight: var(--regular);
  line-height: var(--lh-default);
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

img {
  width: 100%;
  height: auto;
}

h1 {
  font-family: var(--font-sans);
  font-size: var(--fs-h1);
  font-weight: var(--bold);
  line-height: var(--lh-h1);
  margin: var(--mg-h1);
}

h2 {
  font-family: var(--font-sans);
  font-size: var(--fs-h2);
  font-weight: var(--bold);
  line-height: var(--lh-h2);
}

h3 {
  font-family: var(--font-sans-cond);
  font-size: var(--fs-h3);
  font-weight: var(--bold);
  line-height: var(--lh-h3);
}

h4 {
  font-family: var(--font-sans-cond);
  font-size: var(--fs-h4);
  font-weight: var(--semibold);
  line-height: var(--lh-h4);
}

h5 {
  font-family: var(--font-sans-cond);
  font-size: var(--fs-h5);
  font-weight: var(--semibold);
  line-height: var(--lh-h5);
}

h6 {
  font-family: var(--font-sans-cond);
  font-size: var(--fs-h6);
  font-weight: var(--regular);
  line-height: var(--lh-h6);
  font-style: italic;
}

p {
  font-family: var(--font-sans);
  font-size: var(--fs-p);
  font-weight: var(--regular);
  line-height: var(--lh-p);
}

a {
  color: currentColor;
  text-decoration: none;
}

a:hover {
  color: var(--primary);
}

button {
  appearance: none;
  -webkit-appearance: none;
  background: transparent;
  border: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
