:root {
  /* fonts */
  --font-sans: 'IBM Plex Sans', sans-serif;
  --font-sans-cond: 'IBM Plex Sans Condensed', sans-serif;

  /* Color styles */
  --c-black: #242424;
  --c-white: #f8f8f8;
  --c-gray-light: #c8d3d5;
  --c-gray: #626c66;
  --c-gray-dark: #434a42;
  --c-green-lighter: #c0d7bb;
  --c-green-light: #a3b9ad;
  --c-green: #1a535c;
  --c-blue: #0b607d;
  --c-wmk-light: rgba(248, 248, 248, 0.3);
  --c-wmk-dark: rgba(8, 103, 136, 0.1);

  --primary: var(--c-blue);

  /* radii */
  --radius-sm: 4px;

  /* spacing */
  --space-sm: 6px;
  --space-md: 8px;
  --space-lg: 15px;
  --space-xl: 20px;
  --space-2xl: 24px;
  --space-3xl: 35px;
  --space-4xl: 55px;
  --space-5xl: 60px;

  /* font-weight */
  --regular: 400;
  --medium: 500;
  --semibold: 600;
  --bold: 700;

  /* font-size */
  /* base size: default (16px) */
  --fs-p: 1rem;
  --fs-h1: 5.125rem;
  --fs-h2: 5.125rem;
  --fs-h3: 2.12rem;
  --fs-h4: 1.75rem;
  --fs-h5: 1.62rem;
  --fs-h6: 1.125rem;

  /* line-height */
  --lh-default: normal;
  --lh-p: 1.4375rem;
  --lh-h1: 5.125rem;
  --lh-h2: 5.125rem;
  --lh-h3: normal;
  --lh-h4: normal;
  --lh-h5: normal;
  --lh-h6: 1.125rem;

  /* spacing */
  --mg-h1: 0 0 var(var(--space-3xl));

  /* ordering */
  --lvl-1: 1;
  --lvl-2: 2;
  --lvl-3: 3;
}

@media (min-width: 48em) {
  :root {
    /* spacing */
    --space-4xl: 85px;
    --space-5xl: 100px;

    /* font-size */
    --fs-p: 1.25rem;
    --fs-h1: 9.375rem;
    --fs-h2: 9.375rem;
    --fs-h3: 2.8125rem;
    --fs-h4: 2.25rem;
    --fs-h5: 2rem;
    --fs-h6: 1.375rem;

    /* line-height */
    --lh-p: normal;
    --lh-h1: 9.375rem;
    --lh-h2: 9.375rem;
    --lh-h6: normal;

    /* spacing */
    --mg-h1: 0 0 var(var(--space-4xl));
  }
}
